[Desktop Entry]
Type=Application
Exec=kde-geo-uri-handler --coordinate-template "https://cartes.app/?geo=<URI>" --query-template "https://cartes.app/?geo=<URI>" --fallback "https://cartes.app" %u
Name=Cartes
Name[ca]=Cartes
Name[cs]=Mapy
Name[es]=Mapas
Name[he]=Cartes
Name[ka]=Cartes
Name[nl]=Cartes
Name[pt_BR]=Cartes
Name[sl]=Cartes
Name[sv]=Cartes
Name[tr]=Cartes
Name[uk]=Cartes
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
StartupNotify=true
