[Desktop Entry]
Type=Application
Exec=kde-geo-uri-handler --coordinate-template "https://www.google.com/maps/@<LAT>,<LON>,<Z>" --query-template "https://www.google.com/maps/search/<Q>" --fallback "https://www.google.com/maps/" %u
Name=Google Maps
Name[ca]=Google Maps
Name[es]=Google Maps
Name[fr]=Google Maps
Name[it]=Mappe di Google
Name[nl]=Google Maps
Name[ro]=Hărți Google
Name[sl]=Google Maps
Name[sv]=Google kartor
Name[uk]=Карти Google
Name[x-test]=xxGoogle Mapsxx
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
