[Desktop Entry]
Type=Application
Exec=kde-geo-uri-handler --coordinate-template "https://www.qwant.com/maps/#map=<Z>/<LAT>/<LON>" --query-template "https://www.qwant.com/maps/?q=<Q>&client=opensearch" --fallback "https://www.qwant.com/maps/" %u
Name=Qwant Maps
Name[ar]=خرائط كوانت
Name[ast]=Qwant Maps
Name[bg]=Qwant Maps
Name[ca]=Qwant Maps
Name[ca@valencia]=Qwant Maps
Name[cs]=Mapy Qwant
Name[de]=Qwant Maps
Name[en_GB]=Qwant Maps
Name[eo]=Qwant-Mapoj
Name[es]=Qwant Maps
Name[eu]=Qwant Maps
Name[fi]=Qwant Maps
Name[fr]=Qwant Maps
Name[gl]=Qwant Maps
Name[he]=Qwant Maps
Name[hi]=क्वान्ट मैप्स
Name[hu]=Qwant Térképek
Name[ia]=Qwant Maps (Mappas de Qwant)
Name[is]=Qwant Maps
Name[it]=Qwant Maps
Name[ka]=Qwant Maps
Name[ko]=Qwant 지도
Name[lt]=„Qwant“ žemėlapiai
Name[lv]=Qwant Maps
Name[nl]=Qwant Maps
Name[nn]=Qwant Maps
Name[pl]=Mapy Qwant
Name[pt]=Qwant Maps
Name[pt_BR]=Qwant Maps
Name[ro]=Hărți Qwant
Name[ru]=Карты Qwant
Name[sa]=क्वान्ट मानचित्र (Qwant Maps)
Name[sk]=Qwant Maps
Name[sl]=Qwant Maps
Name[sv]=Qwant kartor
Name[tr]=Qwant Haritalar
Name[uk]=Карти Qwant
Name[vi]=Bản đồ Qwant
Name[x-test]=xxQwant Mapsxx
Name[zh_CN]=Qwant Maps
Name[zh_TW]=Qwant 地圖
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
